[submodule "upstream"]
	path = upstream
	url = https://github.com/quarkusio/quarkusio.github.io
[submodule "vendor/quarkus-l10n-utils"]
	path = vendor/quarkus-l10n-utils
	url = https://github.com/doc-l10n-kit/quarkus-l10n-utils.git
