<div class="component-wrapper contributions-band">
  <div class="width-12-12 contrib-block">
    <h3>貢献する</h3>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-support.png">
    <h4>オープンプロジェクト</h4>
    <p>Quarkusは<a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License version 2.0</a>でライセンスされるオープンソースプロジェクトです。何よりもまず、オープンなコミュニティであり、貢献、アイデア、ディスカッションに対してオープンであり、コントリビューターを歓迎します。Javaアプリケーションの将来を築く為に、協力していきましょう。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-roadmap-a.png">
    <h4>ロードマップ</h4>
    <p>将来に向けた、コミュニティの計画を読んでみて下さい。<a href="https://github.com/orgs/quarkusio/projects/5">我々の現在のコミュニティロードマップはこちら</a>です。 Quarkusはコミュニティ駆動であり、<i>あなたの</i>ニーズが何であるか、教えてください。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-github.png">
    <h4>コードと課題管理</h4>
    <p>ソースコードは<a href="https://github.com/quarkusio/quarkus">GitHub</a>にホストされています。バグを報告したり、新機能を要望する必要がある場合は、<a href="https://github.com/quarkusio/quarkus/issues">GitHub 課題管理</a>で似た課題がないか探してみてください。見つからなかった場合は、<a href="https://github.com/quarkusio/quarkus/issues/new/choose">新しい課題を作成して下さい</a>。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-author.png">
    <h4>クイックスタートガイドの執筆</h4>
    <p>すぐ入門したい新しいユーザーは常に存在します。 クイックスタートを執筆し、ピアレビューに送信して、あなたの経験を皆に共有して下さい。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-code.png">
    <h4>新しいエクステンションの作成</h4>
    <p>エクステンションの開発者か、Quarkusの開発に貢献したい場合、<a href="mailto:quarkus-dev+subscribe@googlegroups.com">emailする</a>か、<a href="https://groups.google.com/d/forum/quarkus-dev">Google Groupsページ</a>にアクセスしてメーリングリストに参加して下さい。 是非、充実した <a href="{{site.baseurl}}/guides/writing-extensions">エクステンション作成ガイド</a>にアクセスして下さい。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-podcast.png">
    <h4>Quarkus Insights ポッドキャスト</h4>
    <p>Quarkusエコシステム内および周辺に関する、Quarkus開発者によってホストされる定期的なビデオポッドキャストです。 <a href="{{site.baseurl}}/insights">ライブポッドキャスト</a> を視聴し、過去のエピソードをチェックしてみて下さい。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-twitter.png">
    <h4>Twitter で Quarkus をフォロー</h4>
    <p>我々のアップデートの多くは <a href="https://twitter.com/quarkusio">Twitter</a> で公開されています。 プロジェクトチームが業界のイベントで公園することもあれば、Quarkusのクールなユースケースを投稿することもあります。どんどんリツイートしてください。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-qtips.png">
    <h4>Q Tips</h4>
    <p>Quarkus コミュニティは入門をお手伝いする為に親切なハウツー・ビデオを公開しています。<a href="https://www.youtube.com/playlist?list=PLsM3ZE5tGAVbMz1LJqc8L5LpnfxPPKloO">YouTube</a> でチェックしてみて下さい。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-publications.png">
    <h4>出版物</h4>
    <p>Quarkusの興味深いユースケースと実践例を示す、役立つ<a href="{{site.baseurl}}/publications">記事やブログ投稿</a>が沢山存在します。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-awards.png">
    <h4>Awards</h4>
    <p>コミュニティによって行われた全てのハードワークに対して<a href="{{site.baseurl}}/awards">賞と表彰</a>を受けた時、興奮を分かち合いましょう。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-vulnerability.png">
    <h4>脆弱性報告</h4>
    <p>Quarkus、あるいはそのエクステンション、依存関係にセキュリティ脆弱性を見つけましたか？報告方法について、<a href="{{site.baseurl}}/security">セキュリティポリシーページ</a>を確認下さい。</p>
  </div>
  <div class="width-3-12 width-12-12-m contrib-block">
    <img src="{{site.baseurl}}/assets/images/community/icon-books.png">
    <h4>本</h4>
    <p><a href="{{site.baseurl}}/books">これらの素晴らしい本</a>を通じてコミュニティからQuarkusについて新しく、深い洞察を得てください。</p>
  </div>
</div>
