<div class="full-width-bg component homepage-content-band alt-background">
  <div class="grid-wrapper">
    <div class="grid__item width-12-12">
      <h2>ベストオブブリードライブラリと標準</h2>
    </div>
    <div class="grid__item width-5-12 width-12-12-m">
      <p>Quarkusは50を超えて拡大しているベストオブブリードのライブラリを活用することで、良くまとまった、使って楽しいフルスタックフレームワークを提供します。全て、標準のバックボーンに接続されています。<a href="/vision/standards">Quarkusエクステンションについて詳細はこちらをご覧ください</a>。</p>
    </div>
    <div class="width-7-12 width-12-12-m block-image justify-self-center">
      <img src="{{site.baseurl}}/assets/images/homepage_extensions_graphic.png"/ class="img-md">
    </div>
  </div>
</div>
