<div class="full-width-bg component alt-background">
  <div class="grid-wrapper">
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>フィードバックとヘルプ</h3>
      <p>Quarkusプロジェクトチームにこちらから連絡出来ます：</p>
      <ul>
        <li><a href="https://quarkusio.zulipchat.com" target="_blank">Zulip</a>によるチャット</li>
        <li><a href="https://groups.google.com/d/forum/quarkus-dev" target="_blank">quarkus-dev Google Groups</a></li>
      </ul>
      <p>あなたの参加は大歓迎です！躊躇わずに参加して下さい。</p>
    </div>
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>Quarkus コミュニティへの参加</h3>
      <p>
        問題の報告とPull Requestの送信プロセスの詳細については、<a href="https://github.com/quarkusio/quarkus" target="_blank">GitHub</a>をご覧下さい。<br /><br />
        バグレポート、サンプルアプリケーション、フィーチャーリクエスト、ドキュメントの修正、フィードバック、全ての貢献が有益です。
      </p>
    </div>
  </div>
</div>
