<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>1</div></div>
    <div class="text">
        <a href="https://www.jetbrains.com/idea/download/">IntelliJ IDEA</a>、<a href="https://www.eclipse.org/downloads/">Eclipse</a>、<a href="https://code.visualstudio.com/Download">VSCode</a>もしくは<a href="https://spacevim.org/use-vim-as-a-java-ide/">Vim</a>や<a href="http://spacemacs.org">Emacs</a>のような<a href="https://en.wikipedia.org/wiki/Comparison_of_integrated_development_environments#Java" target="_blank">IDE</a>が必要です
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>2</div></div>
    <div class="text">
      <div class="text">
        <a href="https://adoptopenjdk.net" target="_blank">JDK {{ site.data.versions.jdk }}</a> (ディストリビューションは問いません) が必要です
      </div>
      <div class="text">
        オプションとして、ネイティブコンパイルには<a href="https://www.graalvm.org/" target="_blank">GraalVM</a> {{ site.data.versions.graalvm }} が必要です
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>3</div></div>
    <div class="text">
      <div class="text">
        <a href="https://maven.apache.org/" target="_blank">Apache Maven {{ site.data.versions.maven }}</a>
      </div>
      <div class="text">
        もしくは <a href="https://gradle.org/" target="_blank">Gradle</a> が必要です
      </div>
    </div>
  </div>
</div>
<div class="grid__item width-3-12 width-12-12-m">
  <div class="gs-item">
    <div class="number"><div>4</div></div>
    <div class="text">
      <div class="text">
        Quarkus {{ site.data.versions.quarkus.version }} で <a href="https://code.quarkus.io">コーディングを開始</a>
        [<a href="{{ site.data.versions.quarkus.announce }}">announce</a>|<a href="https://github.com/quarkusio/quarkus/releases/tag/{{ site.data.versions.quarkus.version }}">changelog</a>]
      </div>
    </div>
  </div>
</div>
