<div class="full-width-bg component homepage-content-band">
  <div class="grid-wrapper">
    <div class="width-12-12 block-content">
      <h2>開発者満足</h2>
    </div>
    <div class="width-7-12 width-12-12-m block-content">
      
      <p>開発者満足度に最適化された凝集度の高いプラットフォーム：
        <ul>
            <li>統一された設定</li>
            <li>ゼロコンフィグ、瞬く間のライブ・リロード</li>
            <li>80%の一般的な使用法の為に合理化されたコード、20%の為の柔軟性</li>
            <li>容易なネイティブ実行可能ファイル生成</li>
        </ul>
      </p>
    </div>
    <div class="width-5-12 width-12-12-m block-content">
        <div class="listingblock">
          <div class="content">
            <pre class="highlight"><code class="bash">$ mvn package -Pnative

  # Or

$ gradle build -Dquarkus.package.type=native</code></pre>
          </div>
        </div>
        <a href="/vision/developer-joy">詳細</a>
    </div>
    <div class="width-6-12 width-12-12-m block-image justify-self-start align-self-end">
      <img src="{{site.baseurl}}/assets/images/homepage_comic_1.png"/ class="img-md">
    </div>
    <div class="width-6-12 width-12-12-m block-image justify-self-end align-self-end">
      <img src="{{site.baseurl}}/assets/images/homepage_comic_2.png"/ class="img-md">
    </div>
  </div>
</div>
