<div class="full-width-bg component homepage-content-band alt-background">
  <div class="grid-wrapper">
    <div class="width-12-12 block-content">
      <h2>命令型とリアクティブ型の統合</h2>
    </div>
    <div class="width-12-12 width-12-12-m">
      <p>アプリケーション開発時に、慣れ親しんだ命令型コードと、ノンブロッキングリアクティブ型コードを組み合わせることが出来ます。
      <a href="/vision/continuum">詳細</a>.</p>
    </div>
    <div class="width-12-12 width-12-12-m">
      <div class="grid-wrapper">
        <div class="width-6-12 code-item">
          <div class="code-label">命令型</div>
          <div class="code-wrapper">
            <pre class="highlight"><code>@Inject
SayService say;

@GET
@Produces(MediaType.TEXT_PLAIN)
public String hello() {
    return say.hello();
}</code></pre>
          </div>
        </div>
        <div class="width-6-12 code-item">
          <div class="code-label">リアクティブ型</div>
          <div class="code-wrapper">
            <pre class="highlight"><code>@Inject @Channel("kafka")
Publisher&lt;String&gt; reactiveSay;

@GET
@Produces(MediaType.SERVER_SENT_EVENTS)
public Publisher&lt;String&gt; stream() {
    return reactiveSay;
}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
