{% assign docversion = include.docversion %}
{% assign docversion_index = docversion | replace: '.', '-' %}
{% assign index = site.data.versioned[docversion_index].index %}
{% assign categories = index.quarkus.categories %}
{% assign by_type = index.quarkus | map: "types" | first %}
<div id="guides-app">
  <qs-form server="{{ site.search.host }}"
           quarkus-version="{{ docversion }}"
           language="{{ site.language }}"
           initial-timeout="{{ site.search.initial-timeout }}"
           more-timeout="{{ site.search.more-timeout }}"
           min-chars="{{ site.search.min-chars }}"
  >
    <section class="full-width-version-bg flexfilterbar">
      <div class="flexcontainer">
        <div class="flexlabel">
          <label>バージョン</label>
        </div>
        <div class="pulldown version">
          <select id="guidesindex-version-dropdown">
            {% for version in site.data.versions.documentation %}
            <option value="{{ version }}" {% if docversion== version %}selected{% endif %}>{% if version ==
              'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} -
              {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="flexlabel">
          <label>カテゴリー</label>
        </div>
        <div class="pulldown category">
          <select name="categories">
            <option value="">全カテゴリー</option>
            {% for item in categories %}
            <option value="{{ item.cat-id }}">{{ item.category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="search">
          <input name="q" type="text" placeholder="Filter by keyword"/>
        </div>
      </div>
    </section>
  </qs-form>


  <div>
    <h1 class="title">{{ page.title }}</h1>
  </div>

  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <qs-target>
    <div class="grid-wrapper guides" id="all-docs">
      {% include index-docs-merge.html type="tutorial" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="tutorial">チュートリアル</h3>
          <p>すぐ使い始めるための短く、焦点を絞ったエクササイズ。</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="tutorial" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="howto" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="guide">ハウツーガイド</h3>
          <p>主要なタスク、実際の操作、一般的な問題をカバーするためのステップバイステップガイド。</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="howto" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="concepts" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="concept">コンセプト</h3>
          <p>>Quarkus に関連するいくつかのより大きな概念とテクノロジーの解説。</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="concepts" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="reference" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3 id="reference">リファレンス</h3>
          <p>ツール、コンポーネント、およびコマンドをカバーするテクニカルリソース。 Quarkus の百科事典。</p>
        </div>
        <div class="grid-wrapper">
          {% include index-doc-item.html type="pdf" docversion=docversion
          title="Quarkus チート
          シート" url="https://lordofthejars.github.io/quarkus-cheat-sheet/" summary="チートシートをPDFとしてダウンロード" %}
          {% for guide in values %}
          {% include index-doc-item.html type="reference" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% include index-docs-merge.html type="guide" %}
      {% if values %}
      <div class="grid__item width-12-12 docslist">
        <div class="doclist-header">
          <h3>その他のガイド</h3>
          <p>その他のQuarkusガイド</p>
        </div>
        <div class="grid-wrapper">
          {% for guide in values %}
          {% include index-doc-item.html type="guides" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </qs-target>
</div>

