{% assign docversion = include.docversion %}
{% assign docversion_index = docversion | replace: '.', '-' %}
{% assign index = site.data.versioned[docversion_index].index %}
{% assign categories = index.quarkus.categories %}
{% assign by_type = index.quarkus | map: "types" | first %}

<div id="guides-app"
     data-search-api-server="{{ site.search.url }}"
     data-quarkus-version="{{ docversion }}"
     data-language="{{ site.language }}"
     data-initial-timeout="{{ site.search.initial-timeout }}"
     data-more-timeout="{{ site.search.more-timeout }}"
     data-min-chars="{{ site.search.min-chars }}">
  <section class="full-width-version-bg flexfilterbar">
    <div class="flexcontainer">
      <div class="flexlabel">
        <label>バージョン：</label>
      </div>
      <div class="pulldown version">
        <select id="guidesindex-version-dropdown">
        {% for version in site.data.versions.documentation %}
        <option value="{{ version }}" {% if docversion == version %}selected{% endif %}>{% if version == 'latest' %}{{ site.data.versions.quarkus.version | replace_regex: "\.[0-9+]\.Final", "" }} - {% endif %}{{ version | capitalize }}{% if version == 'main' %} - SNAPSHOT{% endif %}</option>
        {% endfor %}
        </select>
      </div>
      <div class="flexlabel">
        <label>カテゴリー：</label>
      </div>
      <div class="pulldown category">
        <select v-model="category">
          <option value="">全てのカテゴリー</option>
        {% for item in categories %}
        <option value="{{ item.cat-id }}">{{ item.category }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="search">
        <input v-model="text" type="text" placeholder="Filter by keyword" />
      </div>
    </div>
  </section>

  <div>
    <h1 class="title">{{ page.title }}</h1>
  </div>
  <div v-if="hasInput" class="grid-wrapper guides results vuejs"
       :class="{ empty: !loading && !hasHits, 'vuejs-enabled': true, loading: loading }">
    <div class="grid__item width-12-12 docslist">
      <Transition name="fade-in">
        <div v-if="!loading && !hasHits" class="empty-placeholder">
          検索に一致するガイドはございませんでした。別のキーワードでお試しください。
        </div>
      </Transition>
      <div class="grid-wrapper">
        {% raw %}
        <div v-for="hit in searchHits" :class="`${hit.type}bkg grid__item docs-card`">
          <h4><a :href="hit.url" :target="hit.url.startsWith('http') ? '_blank' : ''" v-html="hit.title"></a></h4>
          <div class="description" v-html="hit.summary"></div>
          <div class="content-highlights">
            <p v-for="contentLine in hit.content" v-html="contentLine"></p>
          </div>
        </div>
        {% endraw %}
        <Transition name="fade-in">
          <div v-if="loading" class="loading-placeholder">
            ロード中...
          </div>
        </Transition>
      </div>
    </div>
  </div>
  <!-- Static content displayed when there is no input in the search form or Javascript is disabled,
       but also used as a source of data for cards displayed by the vue.js app. -->
  <div v-else class="grid-wrapper guides" id="all-docs">
    {% include index-docs-merge.html type="tutorial" %}
    {% if values %}
    <div class="grid__item width-12-12 docslist">
      <div class="doclist-header">
        <h3 id="tutorial">チュートリアル</h3>
        <p>すぐ使い始めるための短く、焦点を絞ったエクササイズ。</p>
      </div>
      <div class="grid-wrapper">
        {% for guide in values %}
        {% include index-doc-item.html class="tutorialbkg" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% include index-docs-merge.html type="howto" %}
    {% if values %}
    <div class="grid__item width-12-12 docslist">
      <div class="doclist-header">
        <h3 id="guide">ハウツーガイド</h3>
        <p>主要なタスク、実際の操作、一般的な問題をカバーするためのステップバイステップガイド。</p>
      </div>
      <div class="grid-wrapper">
        {% for guide in values %}
        {% include index-doc-item.html class="howtobkg" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% include index-docs-merge.html type="concepts" %}
    {% if values %}
    <div class="grid__item width-12-12 docslist">
      <div class="doclist-header">
        <h3 id="concept">コンセプト</h3>
        <p>>Quarkus に関連するいくつかのより大きな概念とテクノロジーの解説。</p>
      </div>
      <div class="grid-wrapper">
        {% for guide in values %}
        {% include index-doc-item.html class="conceptsbkg" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% include index-docs-merge.html type="reference" %}
    {% if values %}
    <div class="grid__item width-12-12 docslist">
      <div class="doclist-header">
        <h3 id="reference">リファレンス</h3>
        <p>ツール、コンポーネント、およびコマンドをカバーするテクニカルリソース。 Quarkus の百科事典。</p>
      </div>
      <div class="grid-wrapper">
        <div class="grid__item docs-card pdfbkg">
          <h4><a href="https://lordofthejars.github.io/quarkus-cheat-sheet/" target="_blank">Quarkus Cheat Sheet</a></h4>
          <div class="description">全チートシートをPDFでダウンロード<a href="https://developers.redhat.com/search?t=quarkus&f=type%7Echeat_sheet" target="_blank">
            Red Hat Developersウェブサイトで更にチートシートを入手 <i class="fas fa-external-link-alt"></i></a></div>
          <div class="keywords"></div>
          <div class="categories"></div>
        </div>
        {% for guide in values %}
        {% include index-doc-item.html class="referencebkg" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% include index-docs-merge.html type="guide" %}
    {% if values %}
    <div class="grid__item width-12-12 docslist">
      <div class="doclist-header">
        <h3>その他のガイド</h3>
        <p>その他のQuarkusガイド</p>
      </div>
      <div class="grid-wrapper">
        {% for guide in values %}
        {% include index-doc-item.html class="guidebkg" docversion=docversion
          title=guide.title url=guide.url summary=guide.summary
          keywords=guide.keywords categories=guide.categories origin=guide.origin %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
<script src="/assets/javascript/guides-app.js" type="module"></script>